{% extends "base.html" %}

{% block title %}Kirjautuminen{% endblock %}

{% block content %}

{% if session.get("username") %}
  <p>
    Olet kirjautunut nimellä {{ session.username }}
  </p>

  <p>
    <a href="/logout">Kirjaudu ulos</a>
  </p>

{% else %}

  <form action="/login" method="post">
    <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">

    <p>
      Tunnus: <br />
      <input type="text" name="username" required />
    </p>

    <p>
      Salasana: <br />
      <input type="password" name="password" required />
    </p>

    <input type="submit" value="Kirjaudu" />
  </form>

{% endif %}

<br>
<a href="/">Takaisin etusivulle</a>

{% endblock %}