{% extends "base.html" %}

{% block title %}Uusi työvuoro{% endblock %}

{% block content %}

<h1>Uusi työvuoro</h1>

<form action="/create_shift" method="post">
  <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">

  <p>
    <label>Valitse kategoria (otsikko):</label><br>
  </p>

  <div style="max-height: 80px; overflow-y: auto; border: 1px solid #ccc; padding: 5px; width: 250px;">
    {% for category in categories %}
      <label>
        <input type="radio" name="category" value="{{ category.id }}" required>
        {{ category.name }}
      </label><br>
    {% endfor %}
  </div>

  <p>
    Kuvaus (max 100 merkkiä): <br />
    <textarea name="description" rows="8" cols="60" maxlength="100"></textarea>
  </p>

  <p>
    Osallistujien määrä: <br />
    <input type="number" name="participants" max="100" min="1" required/>
  </p>

  <input type="submit" value="Luo työvuoro" />
</form>

{% endblock %}